#Contact {
  position: relative;
  overflow: visible;
}

#Contact .Contact__Form {
  position: fixed;
  bottom: 4.3rem;
  right: 12.5rem;
  z-index: 300;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: var(--main-dark-t);  
  border-radius: 15px;
  min-width: 250px;
}

.ContactForm__Header {
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 250px;
  padding-left: .5rem;
}
.ContactForm__Header span {
  margin-left: .5rem;
}
.ContactForm__Body {
  padding: 0 1rem;
}



#Contact .Contact__Form form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  /* align-items: center; */
  /* justify-content: center; */
}
#Contact .Contact__Form form > :nth-child(n) {
  font-family: 'poppinsLight';
  margin: .5rem;
  font-size: .9rem;
  outline: none;
  border: none;
  /* box-shadow: var(--main-shadow-t); */
  padding: .5rem;
}
#Contact .Contact__Form textarea {
  min-width: 330px;
  min-height: 50px;
}






#Contact .Contact__Form .CloseContact__Btn {
  position: absolute;
  z-index: 200;
  top: .7rem;
  right: 1.3rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: translateY(-200px);
  animation: close 1s ease forwards;
  border-radius: 10px;
  padding: .1rem;
}
.st110, .st111 {
  fill: var(--main-light);
}
.st110 {
  transform: rotate(-190deg);
  animation: close 1s ease forwards;
}
.st111 {
  transform: rotate(190deg);
  animation: close 1s ease forwards;
}
@keyframes close {
  to { 
    transform:translateY(0) rotate(0deg); 
  }
}

#Contact .OpenContact__Btn {
  position: fixed;
  bottom: .7rem;
  right: 13rem;
  z-index: 100;
  cursor: pointer;
}





.ContactOpen__Animate {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: var(--main-dark-t);

  animation: .5s modalBlur;
  animation-timing-function: steps(2, end);
  --slice-0: inset(0% 0% 0% 0%);
  --slice-1: inset(60% 20% 25% 10%);
  --slice-2: inset(50% -6px 45% 45%);
  --slice-3: inset(70% 20% 25% 10%);
  clip-path: var(--slice-0);
}

@keyframes modalBlur {
  0% {
    clip-path: var(--slice-3);
    transform: translate(30%, -40%);
  }
  30% {
    clip-path: var(--slice-1);
    transform: translate(-20%, 10%);
  }
  60% {
    clip-path: var(--slice-2);
    transform: translate(-30%, -20%);
  }
  80% {
    clip-path: var(--slice-1);
    transform: translate(0px, 0px);
  }
}




.g-recaptcha {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
}







@media screen and (max-width: 600px) {
  #Contact .Contact__Form {
    position: fixed;
    width: 80vw;
    right: 0rem;
    overflow: hidden;
  }
  #Contact .Contact__Form input {
    padding: .1rem;
  }
  #Contact .Contact__Form textarea {
    max-width: 100%;
    min-width: 200px;
  }
}