@import './Contact';

/* Fonts */
@font-face {
  font-family: "poppinsRegular";
  src: url("./_libs/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsLight";
  src: url("./_libs/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./_libs/Poppins/Poppins-Bold.ttf") format("truetype");
}

:root {
  --main-light: #F5F5F5;
  --main-dark: #141A26;
  --main-dark-t: #0b0b0b44;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'poppinsLight', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--main-light);
  background-color: var(--main-dark);

}

.Title {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: var(--main-dark-t);
  border-radius: 0 0 15px 0;
  padding: .5rem;
}


.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

#Station {
  height: 100% !important;
  width: 100% !important;
}

#three_Section {
  height: 100% !important;
  width: 100% !important;
}


#Footer {
  position: absolute;
  bottom: 0;
  right: 1em;
  z-index: 200;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  background-color: var(--main-dark-t);
  border-radius: 15px 0 0 0;
  padding: 1rem;
}
#Footer > div {
  margin: 0 0 0 2rem;
}
#Footer span {
  font-weight: 900;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}